<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Redis</title>
</head>
<body>
    <form id="redis" action="/redis" method="post">
        <div>
            key:<input type="text" name="key"/>
        </div>
        <div>
            value:<input type="text" name="value"/>
        </div>
        <div>
            ttl:<input type="text" name="ttl" value="0"/>
        </div>
        <div>
            <input type="submit" value="登録"/>
        </div>
    </form>
</body>
</html>